/*About Section For The Main page Styleing*/
.about-container {
  display: grid;
  grid-template-columns: 50% 45%;
  grid-template-rows: auto 10px;
  place-items: center;
  color: #fff;

margin-bottom: 250px;  
  }
  .about-header
  {
    font-size: 28px ;
    display: none;
    color: #fff;
  }
  
  
  .about-header
  p{
  font-size: 20px ;
  color: rgba(255, 255, 255, 0.445);
  }
  
  
  .about-text p{
    grid-column-start: 2;
  
    color: rgba(255, 255, 255, 0.388);
    font-size: 17px ;
  }
  .about-text {
    grid-column-start: 2;
   font-size: 22px;
   grid-row-start: 1;
  
  }
  .about-img {
    grid-column-start: 1;
  }
  
  .about-img img{
    width: 480px;
    height: 600px;
    border-radius: 15px;
  }
  
  .about-button button{
    width: 200px;
    height: 50px;
  }
  
  .about-button{
    grid-column: 2 / 4;
    justify-self: start;

  
  }
  .hiddenContent{
    overflow: hidden;
    height: 0;
  }
  .hiddenContent.show {
    height: 250px;
  }
  
  
  @media screen and (max-width : 768px) {
    .about-container{
   display: grid;
   place-items: center;
   grid-template-columns: 100%;
  grid-template-rows: auto auto auto auto;
  height: 90rem;
  margin-bottom: 300px;
  
  }
  
  .about-header
  { 
    margin-top: 20%;
    text-align: center;
  display: block;

  grid-row-start: 1;
}
.about-img {
  grid-column-start: 1;
}

.about-img img {
  width: 480px;
  height: 600px;
  border-radius: 15px;
}

.about-button button {
  width: 40vw;
  height: 50px;
}

.about-button {
  grid-column-start: 2;
  justify-self: start;
}
.hiddenContent {
  overflow: hidden;
  height: 0;
}
.hiddenContent.show {
  height: auto;
}}

@media screen and (max-width: 768px) {
  .about-container {
    display: grid;
    place-items: center;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto auto;
    height: 190vh;
    margin-bottom: 30%;
  }

  .about-header {
    margin-top: 20%;

    text-align: center;
    display: block;
    grid-row-start: 1;
    grid-column-start: 1;
  }

  .about-text {
    grid-row-start: 2;
    text-align: center;
    grid-column-start: 1;
  }

  .about-img img {
    width: 419px;
    height: 624px;
    border-radius: 0px;
  }

  .about-img {
    grid-row-start: 3;
  }
  .about-button {
    grid-row-start: 4;
    grid-column-start: 1;
    justify-self: center;
  }
}