
/* Collection Section For The Dashboard page Styleing */
.colle{
    align-items: center;
    font-size: 50px;
    text-align: center;
    font-weight: bolder;
    padding: 10px;
}
.colle p{
    color: rgba(255, 255, 255, 0.464);
}
.mappingdata{
  display: flex;
  flex-wrap: wrap;
   gap: 40px ; 
  grid-template-columns: 1fr 1fr 1fr;
  padding: 10px;
  /* height: 100%; */
  margin: auto auto;
  width: 80%;
   
  
}
    
    .sizeofimage{
        width: 150px;
        height: 150px;
        padding-left: 12%;
    }   

.pics{
    width: 450px;
    height: 100%;
    background-color: #2f3454;
    padding: 10px;
    text-align: center;
    border-radius: 10px;

    
}
.names{
    color: white;
    display: flex;
    padding-left: 13%;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
}
.creator{
display: flex;

}
.firstpart-creator{
  padding-left: 13%;
  color: rgba(255, 255, 255, 0.5);
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;

}
.secondpart-creator{
    padding-left: 30%;
    color: rgba(255, 255, 255, 0.5);
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;

}
.coll-btn{
    width:10%;
    
   /* margin-bottom: 8px; */
}
.bid{
    padding-left: 50%;
    color: white;
    /* color: rgba(255, 255, 255, 0.5); */
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
}
.collection-button{
    width: 70%;
    height: 7%;
    margin-bottom: 3%;
}
.desc{
    font-size: 20px;
    color: white;
}
.navbar-nfts{
    display: flex;
    flex-direction: row;
    margin-left: 5px;
    
}
.btn1{
    border-radius: 10px;
    border-color: transparent;
    color: #fff;
    font-size: 20px;
    line-height: 35px;
    background-color:#2f3454;
    width: 350px;
    margin-left: 10%;
    
}
.btn1:focus{
    background: -webkit-linear-gradient(-15deg, #B75CFF , #671AE4 );
    border: 1px solid   #671AE4 ;
}
.btn2:focus{
    background: -webkit-linear-gradient(-15deg, #B75CFF , #671AE4 );
    border: 1px solid   #671AE4 
}
.btn3:focus{
    background: -webkit-linear-gradient(-15deg, #B75CFF , #671AE4 );
    border: 1px solid   #671AE4 
}
.btn4:focus{
    background: -webkit-linear-gradient(-15deg, #B75CFF , #671AE4 );
    border: 1px solid   #671AE4 
}
.btn2{
    border-radius: 10px;
    border-color: transparent;
    color: #fff;
    font-size: 20px;
    line-height: 35px;
    background-color:#2f3454;
    width: 350px;
    margin: auto;
    
}
.btn3{
    border-radius: 10px;
    border-color: transparent;
    color: #fff;
    font-size: 20px;
    line-height: 35px;
    background-color:#2f3454;
    width: 350px;
    margin: auto;
    
}
.btn4{
    border-radius: 10px;
    border-color: transparent;
    color: #fff;
    font-size: 20px;
    line-height: 35px;
    background-color:#2f3454;
    width: 350px;
    margin-right: 10%; 
}


.legendd{
    color:white;
    font-size: 30px;
    font-weight: bolder;
}
.formm{

font-size: 25px;
line-height: 30px;
color: rgba(255, 255, 255, 0.673);
display: flex;
flex-direction: row;
margin-top: 5%;
gap:200px;


}  
.first-form{
   
    border-radius: 10px;
    background-color: #2f3454;
    align-items: center;
display: flex;
flex-direction: column;
width:600px;

}
.second-form{
    align-items: center;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    background-color: #2f3454;
    margin-left: 40px;
    width:600px;
    }


 
#nft-img{
   margin-left: 170px;
}
#nft-imgg{
    margin-left: 170px;
 }


#typee{
    height:35px;
    font-size: 20px;
    width: 20%;
}
#imgg{
    height:35px;
    font-size: 20px;
}
#submit{
    height:35px;
    font-size: 20px;
    align-items: center;
    width: 20%;
}

#typeee{
    height:35px;
    font-size: 20px;
    width: 20%;
}

#submitt{
    height:35px;
    font-size: 20px;
    align-items: center;
    width: 20%;
}


@media screen and (max-width: 1200px) {
    .mappingdata{
        display: grid;
        gap: 40px ;
        grid-template-columns: 1fr ;
        width: 90%;
    }
    .btn4{
        border-radius: 10px;
        border-color: transparent;
        color: #fff;
        font-size: 15px;
        line-height: 35px;
        background-color:#2f3454;
        width: 250px;
        margin-right: 10%;
        justify-self: flex-end;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .btn1{
        border-radius: 10px;
        border-color: transparent;
        color: #fff;
        font-size: 15px;
        line-height: 35px;
        background-color:#2f3454;
        width: 250px;
        margin-left: 10%;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .btn2{
        border-radius: 10px;
        border-color: transparent;
        color: #fff;
        font-size: 15px;
        line-height: 35px;
        background-color:#2f3454;
        width: 250px;
        margin: 5px;
        
    }
    .btn3{
        border-radius: 10px;
        border-color: transparent;
        color: #fff;
        font-size: 15px;
        line-height: 35px;
        background-color:#2f3454;
        width: 250px;
        margin: 5px;
        
    }
    .coll-btn{
        width:25%;
            }

    .formm{

        font-size: 25px;
        line-height: 30px;
        color: rgba(255, 255, 255, 0.673);
        display: flex;
        flex-direction: column;
        
        }  
        .first-form{
            margin-left: 10%;
            width: 380px;
        
        
        }
        .second-form{
             margin-left: 10%;
             width: 380px;
            
            }

            #imgg{
                width:100%
            }

            #typee{
                height:35px;
                font-size: 20px;
                width: 20%;
            }
          
            #submit{
                height:35px;
                font-size: 20px;
                align-items: center;
                width: 35%;
            }

            #nft-img{
                margin-left: 20px;
             }
             
           
}
