/*Only Main Styleing For the whole login page*/
.login-body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
}
.login-card{
  background-color: rgba(0, 0, 0, 0.397);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 350px;
  border-radius: 15px;
  padding: 10px 0 5rem 0 ;
height: 20vh;
}

.login-body h1{
  background: linear-gradient(214.02deg, #B75CFF 6.04%, #671AE4 92.95%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  }

.login-form{
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.login-button{
  background: -webkit-linear-gradient(-15deg, #B75CFF , #671AE4 );
  border-radius: 10px;
  border-color: transparent;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}

.login-form input{
color: rgba(232, 224, 224, 0.637);
background-color: #a9a0b159;
border-radius: 15px;
height: 24px;
margin-bottom: 4%;

}

.login-form input:focus{
  outline-width: 0;
  color: rgba(247, 237, 237, 0.932);
  background-color:#a9a0b196; ;

}

.login-form label{
  color:  #B75CFF ;
  font-size: 19px;
}

.login-button:active{
  width : 265px;
  height: 35px;
}

.Home-button{
  background-color: transparent;
  border: none;
  color: #671AE4;
  font-size: 30px;
  cursor: pointer;
  position:absolute;
  left: 41%;
  top: 7.5%;
}

.Home-button:active{
  font-size: 25px;
}

@media screen and (max-width : 768px) {
 
  .Home-button{
    left: 18%;
    top: 3%;
  }

  .login-card{
    padding: 10px 0 7rem 0 ;
  height: 20vh;
  }

  .login-body h1{

margin-top: 15%;  }

}
