/*Only Main Styleing For the whole login page*/
.login-body{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.login-card{
  background-color: rgba(0, 0, 0, 0.397);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 450px;
  width: 30%;
  border-radius: 15px;
}

.login-header{
  display: flex;
align-items: center;
flex-wrap: wrap;}

.login-header h1{
  background: linear-gradient(214.02deg, #B75CFF 6.04%, #671AE4 92.95%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-size: 40px;
  }

.login-form{
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 70%;
}

.login-button{
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  width: 50%;
}

.login-form input{
color: rgba(232, 224, 224, 0.637);
background-color: #a9a0b159;
border-radius: 15px;
height: 24px;
margin-bottom: 4%;
}

.login-form input:focus{
  outline-width: 0;
  color: rgba(247, 237, 237, 0.932);
  background-color:#a9a0b196; ;
}

.login-form label{
  color:  #B75CFF ;
  font-size: 19px;
}

.login-button:active{
  width: 50%;
  height: 35px;
}



.Home-button{
  background-color: transparent;
  color: #9b78e1;
  cursor:pointer; 
   font-size: 40px;
font-weight: bold;
  }

.Home-button:hover{
  color: #7337d4b3;
  font-size: 39px;
}



.Home-button:active{
  font-size: 37px;
  color: red;
  border: 1px solid red;
}

.login-error p{
  text-align: center;
  background-color: rgba(0, 0, 0, 0.531);
  color: rgb(247, 0, 0);
  border-radius: 15px;
  width: 300px;
  margin: top 15px;
  }

  @media screen and (max-width : 768px) {
    .login-card{
    
    width: 80%;
    }
  
  
  }