/*Top Creators Section For The Main page  Styleing*/
.creator {
  background-color: red;
  width: 25%;
}

.nft-img {
  width: 100%;
}
.image-creator {
  display: flex;
  flex-direction: row;
  justify-content: center;

  background-color: blue;
}
.centerp {
  text-align: center;
}
