/*Collection Section For The Main page  Styleing*/
.collection{
    align-items: center;
    font-size: 40px;
    color: white;
    text-align: center;
}

.nfts{
  display: grid;
  gap: 40px ;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 10px;
  height:400px;
  margin: auto auto;
  width: 80%;
   
  
}
  .nft-img{

width: 337px;
height: 380px;
border-radius: 10px;


}   

.pics{
    width: 100%;
    height: 100%;
    background-color: #2f3454;
    padding: 10px;
    text-align: center;

    
}
.names{
    color: white;
    display: flex;
    padding-left: 13%;
}
.creator{
display: flex;

}
.firstpart-creator{
  padding-left: 13%;
  color: rgba(255, 255, 255, 0.5);
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;

}
.secondpart-creator{
    padding-left: 38%;
    color: rgba(255, 255, 255, 0.5);
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;

}
.bid{
    padding-left: 50%;
    color: white;
    /* color: rgba(255, 255, 255, 0.5); */
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
}
