/*Collection Section For The Main page  Styleing*/
.collection {
  align-items: center;
  font-size: 40px;
  text-align: center;
  color: white;
}
.collection p {
  color: rgba(255, 255, 255, 0.464);
}
.nfts {
  display: grid;
  gap: 57px;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 10px;
  margin: 0 auto;
  width: 83%;
}
.nft-img {
  width: 337px;
  border-radius: 10px;
}

.pics {
  width: 100%;
  height: 100%;
  background-color: #2f3454;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
}
.names {
  color: white;
  display: flex;
  padding-left: 13%;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}
.creator {
  display: flex;
}
.firstpart-creator {
  color: rgba(255, 255, 255, 0.5);
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}
.secondpart-creator {
  color: rgba(255, 255, 255, 0.5);
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}
.bid {
  padding-left: 50%;
  color: white;
  /* color: rgba(255, 255, 255, 0.5); */
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}
.collection-button {
  width: 70%;
  height: 7%;
}
.desc {
  font-size: 20px;
  color: white;
}
.navbar-nfts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 83%;
  margin: 0 auto;
  padding: 10px;
  grid-column-gap: 20px;
}
.btn1 {
  border-radius: 10px;
  border-color: transparent;
  color: #fff;
  font-size: 20px;
  line-height: 35px;
  background-color: #2f3454;
  font-size: 100%;
}
.btn1:focus {
  background: -webkit-linear-gradient(-15deg, #b75cff, #671ae4);
  border: 1px solid #671ae4;
}
.btn2:focus {
  background: -webkit-linear-gradient(-15deg, #b75cff, #671ae4);
  border: 1px solid #671ae4;
}
.btn3:focus {
  background: -webkit-linear-gradient(-15deg, #b75cff, #671ae4);
  border: 1px solid #671ae4;
}
.btn4:focus {
  background: -webkit-linear-gradient(-15deg, #b75cff, #671ae4);
  border: 1px solid #671ae4;
}
.btn2 {
  border-radius: 10px;
  border-color: transparent;
  color: #fff;
  font-size: 1.5vw;
  line-height: 35px;
  background-color: #2f3454;
  font-size: 100%;
}
.btn3 {
  border-radius: 10px;
  border-color: transparent;
  color: #fff;
  font-size: 1.5vw;
  line-height: 35px;
  background-color: #2f3454;
  font-size: 100%;
}
.btn4 {
  border-radius: 10px;
  border-color: transparent;
  color: #fff;
  font-size: 1.5vw;
  line-height: 35px;
  background-color: #2f3454;
  font-size: 100%;
  justify-self: end;
}

@media screen and (max-width: 1000px) {
  .nfts {
    display: grid;
    gap: 57px;
    grid-template-columns: 1fr;
    padding: 10px;
    /* height:400px; */
    margin: 0 auto;
    width: 83%;
  }
  .btn4 {
    border-radius: 10px;
    border-color: transparent;
    color: #fff;
    font-size: 15px;
    line-height: 35px;
    background-color: #2f3454;
    font-size: 100%;
    justify-self: end;
  }

  .btn1 {
    border-radius: 10px;
    border-color: transparent;
    color: #fff;
    font-size: 15px;
    line-height: 35px;
    background-color: #2f3454;
    font-size: 100%;
  }
  .btn2 {
    border-radius: 10px;
    border-color: transparent;
    color: #fff;
    font-size: 15px;
    line-height: 35px;
    background-color: #2f3454;
    font-size: 100%;
  }
  .btn3 {
    border-radius: 10px;
    border-color: transparent;
    color: #fff;
    font-size: 15px;
    line-height: 35px;
    background-color: #2f3454;
    font-size: 100%;
  }
}
