/*Top Creator  Section For The Dashboard Styleing*/
.main-creator-dashboard{
    display:flex;
    
}

.add-creator{
 background-color: black;

}

.update-creator{
    background-color: red;
    width: 100%;

}