@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/** Font Family For The Whole Website */

*{
  font-family: 'Poppins', sans-serif;
}

/** Margin Top For All Seactions In The Main Page  */
section{
  margin-top: 9%;
}

/** To Make The Scrolling Smooth */
html{scroll-behavior:smooth}


/** The Whole Website Button Colors */
.button{
  background: -webkit-linear-gradient(-15deg, #B75CFF , #671AE4 );
  border-radius: 12px;
  border-color: #B75CFF ;
  color: rgba(255, 255, 255, 0.87);
  font-size: 20px;
  line-height: 30px;
}
/** The Whole Website Button Colors On Hover */

.button:hover{
  background: -webkit-linear-gradient(-15deg, #B75CFF , #671AE4 );
  border-radius: 10px;
  border-color: #050108eb ;
  color: rgba(223, 210, 210, 0.904);
  font-size: 20px;
  line-height: 30px;
  cursor: pointer;
}
